body{
    background-color: #282a36;
}
.table{
    margin-top: 200px;
    width: 80%;
    direction: rtl;
}
.img-table{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-size: cover;
}
.bi{
    font-size: 40px;
}